<header>
        <div class="header-logo"><a href="/books/latest">Light novels news</a></div>
        <nav>
            <ul>
                <li><a href="/books/latest">TOP</a></li>
                <li><a href="/books/about">ABOUT</a></li>
                <li><a href="/books/index">ARCHIVE</a></li>
                <li><a href="/books/discussion">DISCUSSION</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <div class="main_top">TOP</div>
        <h1 class="main-menu">各月の新刊情報</h1>
        
        <span>
            <ul>
                <li><a href="/books/archives/20190401">2019年4月の新刊</a></li>
                <li><a href="/books/archives/20190301">2019年3月の新刊</a></li>
                <li><a href="/books/archives/20190201">2019年2月の新刊</a></li>
            </ul>
        </span>
    </main>

    <footer>
    <div class="footer-logo"><a href="/books/latest">Light novels</a></div>
    <div class="Github">Github: sarashinanikki</div>
    </footer>
    
    <script src="light_novel.js"></script>
