@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru|Noto+Serif+JP&subset=japanese');

body{
    font-family: sans-serif;
}
li{
    list-style: none;
}
header{
    color:white;
    background-color:#71BAEC;
    height:100px;
    font-family: 'Poiret One', cursive;
   
}
.header-logo{
    float: left;
    padding:20px 30px;
    font-size: 40px;
   
}

.contents-img{
    float: left;
    margin-right: 50px;
}
.contents-text{
    float: right;
}
.art-border {
    padding: 300px;
    border-bottom: medium solid #71BAEC;
}
header a{
    text-decoration: none;
    color:white;
}
nav{
    width:900px;
    text-align: right;   
    margin-left: auto;
    padding-top:27px;
    padding-right: 0;
}

header li{
    display: inline;
    padding:35px 30px;
    font-size: 22px;
}


main{
    height:auto;
    margin-top:40px;
    margin-left:40px;
}
main a{
    text-decoration: none;
    color: black;
}
.information{
    font-family: 'Kosugi Maru', sans-serif;
}
.contents-item{
    font-size:18px;
    width: auto;
    margin-bottom: 10px;
}
.description{
    display: none;
    font-family: 'Noto Serif JP', serif;
}
.main_archive,.main_about,.main_top,.main_discussion{
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    border-bottom: 1px solid #DFE0E3;
}
#title{
    font-size:30px;
}
#subtitle{
    font-size:20px;
    color: red
}
footer{
    background-color:#71BAEC;
    height:120px;
    font-family: 'Poiret One', cursive;
    color:white;
    
}
.footer-logo{
    float: left;
    font-size:30px;
    padding:40px 30px;
}
.Github{
    font-size: 23px;
    text-align: right;
    padding:50px 30px
}
footer a{
    text-decoration: none;
    color:white;
}
